name: Build / Publish to Modrinth

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, '[ci build]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'microsoft'

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: '**/build/libs/*'
          if-no-files-found: ignore

  publish:
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, '[ci publish]')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with: 
          java-version: '25'
          distribution: 'microsoft' 

      - name: Publish to Modrinth
        run: ./gradlew modrinth
        env:
          MR_TOKEN: '${{ secrets.MR_TOKEN }}'
          MR_CHANGELOG: '${{ github.event.head_commit.message }}'

      - name: Upload publish artifacts
        uses: actions/upload-artifact@v4
        with:
          name: publish-artifacts
          path: 'build/libs/*'
          if-no-files-found: ignore
